div .msg {
   background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
}

    div .msg h2 {
        font-size: 50px;
        padding: 10px 10px;
        font-family: 'Montserrat-Bold';
        border-bottom: 1px solid #808080;
        background: rgba(0, 25, 38, 0.80);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #fff;
    }

    div .msg #triste {
        font-size: 120px;
        font-weight: bolder;
    }

    div .msg p {
        color: #001926;
        font-size: 20px;
        padding-left: 15px;
        padding-bottom: 20px;
        text-align: left;
        font-family: 'OpenSans-Regular';
        font-weight: bolder;
    }
